    <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>

        <ul class="navbar-nav ml-auto unauthenicated">
            <li class="nav-item">
                <a class="nav-link" href="https://forms.gle/hnXFyFMem68JJujj8" target="_blank">Student Registration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://forms.gle/xgnAREA3fByZYKuc6" target="_blank">Apply as Teacher</a>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- <li class="nav-item">
                <a class="nav-link" href="/user/login"><i class="fas fa-unlock-alt mr-1"></i>Login</a>
            </li> -->

        </ul>
    </nav>
    <!-- End of Topbar -->